@import 'global.css';

:root{
     --primary-color: #afa2ff;
     --seconday-color: #e3d7ff;
     --tertiary-color: #7a89c2;
     --text-color: #3A4046;
     --text-color-white: #FFFFFF;

     --heading: 24px 'Montserrat', sans-serif;
     --sub-heading: 16px 'Lora', serif;
     --text: 16px 'Mulish', sans-serif;
}



.product-detail{
display: flex;
margin-top: 60px;
}

.productdetail-img{
    height: 500px;

}

.desc-box{
    margin: 30px;
}

.product-brand{
    color: var(--text-color);
    font-size: 47px;
}
.product-name{
    color: var(--text-color);
    font-size: 42px;
}

.product-price{
   font-size: 47px; 
}


.submit-btn{
        border: none;
        color: var(--text-color);
        background-color: var(--seconday-color);
        padding: 15px;
    border-radius: 7px;
    font: var(--sub-heading);
    margin: 10px;
      
}

.submit-btn:hover{
    opacity: .5;
}

/*MQ - Phone*/

@media (min-width: 300px) and (max-width: 768px){
    .product-detail{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        }
        
        .productdetail-img{
            width: 100%;
        
        }
        
        .desc-box{
            margin: 30px;
        }
        
        .product-brand, .product-price{
            font-size: 10vw;
        }
        .product-name{
            font-size: 6vw;
        }
        
       
        
        
        .submit-btn{
                border: none;
                color: var(--text-color);
                background-color: var(--seconday-color);
                padding: 15px;
            border-radius: 7px;
            font: var(--sub-heading);
            margin: 10px;
              
        }
}