@import 'global.css';

:root{
    --primary-color: #afa2ff;
    --seconday-color: #e3d7ff;
    --tertiary-color: #7a89c2;
    --text-color: #3A4046;
    --text-color-white: #FFFFFF;

    --heading: 24px 'Montserrat', sans-serif;
    --sub-heading: 16px 'Lora', serif;
    --text: 16px 'Mulish', sans-serif;
}

h1{
 text-align: center;
 padding-top: 40px;
 font: var(--heading);
 color: var(--text-color);
}

#content{
    padding-top: 40px;
}

.product{
    display: flex;
    justify-content: center;
}

#product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px 3px;
}
/* div.product-desc{
    width: 250px;
    margin: 0;
} */

.productpage-img{
    width: 100%;
}

/*MQ - Phone*/

@media (min-width: 300px) and (max-width: 455px){

#product{
    display: grid;
    grid-template-columns: 1fr;
   }
}

@media (min-width: 455px) and (max-width: 634px){

    #product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media (min-width: 634px) and (max-width: 768px){

    #product{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
}